@font-face {
  font-family: 'Avenir Roman';
  src: url("/fonts/avenir-roman.ttf"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: '/fonts/Montserrat-Regular.ttf'; }
body {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: lighter; }
  body nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding-top: 20px;
    transition: all 0.2s;
    height: 100px;
    position: absolute;
    z-index: 1;
    width: 100%; }
    body nav img {
      width: auto;
      height: 30px; }
    body nav .hamburger {
      display: none;
      width: 40px;
      height: 22px;
      border: 0;
      border-top: 1px solid #ffffff;
      background: transparent;
      position: relative;
      transition: 0.2s;
      cursor: pointer; }
      body nav .hamburger::before, body nav .hamburger::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #ffffff;
        transform: translateY(10px); }
      body nav .hamburger::after {
        transform: translateY(20px); }
    body nav .animatedMobileMenu {
      transition: 0.2s;
      transform: skew(45deg); }
      body nav .animatedMobileMenu::before {
        display: none; }
    body nav ul {
      display: flex;
      list-style-type: none; }
      body nav ul li {
        padding: 40px;
        font-size: 1rem;
        transition: padding 0.2s; }
        body nav ul li a {
          text-decoration: none;
          color: white; }
          body nav ul li a:hover {
            border-bottom: 2px solid orangered; }
    body nav .mobile {
      display: block;
      background-color: black;
      width: 170px;
      height: 100vh;
      top: -19px;
      left: 0;
      position: absolute;
      transition: all 0.2s;
      border: 1px solid white; }
  body .sticky {
    position: fixed;
    background-color: black;
    width: 100%;
    padding: 0;
    z-index: 1;
    opacity: 0.9;
    height: 80px; }
    body .sticky ul li {
      padding: 30px;
      transition: padding 0.2s; }
  body header {
    display: flex;
    align-items: center;
    background-image: url("/img/header-background.jpg");
    height: 90vh;
    position: relative;
    justify-content: center;
    background-size: cover;
    background-position: center; }
    body header .titleContainer {
      display: flex;
      justify-content: center;
      text-align: center;
      height: 55vh; }
      body header .titleContainer div {
        align-self: center;
        color: white;
        font-size: 2rem; }
        body header .titleContainer div h1, body header .titleContainer div p {
          padding: 0;
          margin: 0; }
        body header .titleContainer div h1 {
          font-size: 5.1rem;
          font-family: "avenir-roman"; }
        body header .titleContainer div p {
          font-size: 3rem; }
          body header .titleContainer div p .partnerName {
            font-weight: bolder; }
    body header .scrollArrowBox {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -35px;
      width: 70px;
      height: 70px;
      background-color: orangered;
      border-radius: 50%;
      -webkit-box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.56);
      box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.56); }
      body header .scrollArrowBox img {
        width: 20px;
        height: 10px; }
  body .aboutUs {
    text-align: center; }
    body .aboutUs h3 {
      padding-top: 7%;
      font-size: 1.6rem; }
    body .aboutUs .companyDescription {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 7%;
      color: #706f6f;
      font-size: 1.2rem;
      text-align: justify; }
  body .products {
    background-color: red;
    background-image: url("/img/galleryBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 3%; }
    body .products h3 {
      color: white;
      margin: 0;
      text-align: center;
      padding: 5%;
      font-size: 1.6rem; }
    body .products .galleryWrapper {
      display: none; }
    body .products .galleryWrapper.active {
      display: flex;
      justify-content: center;
      margin: 2%; }
      body .products .galleryWrapper.active .container {
        margin-right: 5%;
        max-width: 500px; }
        body .products .galleryWrapper.active .container .main-img img {
          width: 100%;
          box-sizing: border-box; }
        body .products .galleryWrapper.active .container .imgs {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 5px; }
          body .products .galleryWrapper.active .container .imgs img {
            width: 100%; }
            body .products .galleryWrapper.active .container .imgs img:hover {
              cursor: pointer; }
      body .products .galleryWrapper.active .productDesc {
        max-width: 500px;
        height: 300px;
        overflow: scroll;
        align-items: center; }
        body .products .galleryWrapper.active .productDesc div {
          color: white; }
          body .products .galleryWrapper.active .productDesc div ul {
            list-style-type: none;
            padding: 5px; }
    body .products .styled-select {
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      height: 29px;
      background-color: tomato;
      overflow: hidden;
      width: 240px;
      margin: 0 auto;
      margin-top: 5%; }
      body .products .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 268px; }
  body .ourAdvantages {
    background-color: orangered;
    text-align: center;
    color: white;
    padding: 7%; }
    body .ourAdvantages h3 {
      font-size: 1.6rem; }
    body .ourAdvantages .advantageBoxContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body .ourAdvantages .advantageBoxContainer .advantageBox {
        width: 350px; }
        body .ourAdvantages .advantageBoxContainer .advantageBox:nth-child(2) img {
          width: 110px; }
        body .ourAdvantages .advantageBoxContainer .advantageBox .advantageExample {
          display: block;
          font-size: 1.4rem;
          margin-bottom: 20px;
          font-weight: bold; }
      body .ourAdvantages .advantageBoxContainer img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px; }
  body .contactForm {
    text-align: center;
    padding: 7%; }
    body .contactForm .formIntro {
      padding-bottom: 60px;
      position: relative; }
      body .contactForm .formIntro p {
        color: #706f6f; }
      body .contactForm .formIntro::after {
        content: '';
        position: absolute;
        width: 20px;
        border-bottom: 2px solid orangered;
        top: 114px;
        right: 50%; }
      body .contactForm .formIntro h3 {
        font-size: 1.6rem;
        margin: 0; }
    body .contactForm form {
      margin-left: -15%; }
      body .contactForm form .row {
        display: flex;
        justify-content: center;
        padding: 12px; }
        body .contactForm form .row .leftFormCol {
          width: 12%;
          padding: 15px;
          color: #706f6f; }
        body .contactForm form .row .rightFormCol {
          width: 30%; }
          body .contactForm form .row .rightFormCol input[type=text], body .contactForm form .row .rightFormCol textarea {
            width: 100%;
            border: 1px solid #ccc;
            padding: 15px;
            resize: vertical; }
        body .contactForm form .row input[type=submit] {
          margin-left: 14%;
          background-color: orangeRed;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 0px;
          cursor: pointer;
          float: right; }
  body footer {
    color: white;
    background-color: #181616;
    text-align: center;
    padding: 7%;
    background-image: url("/img/footer-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    body footer h3 {
      padding-bottom: 4%;
      position: relative;
      font-size: 1.6rem; }
      body footer h3::after {
        content: '';
        position: absolute;
        width: 20px;
        border-bottom: 2px solid orangered;
        top: 50px;
        right: 49.5%; }
    body footer .name {
      font-size: 1.6rem;
      font-weight: bolder; }
    body footer .contactDetails div {
      display: flex;
      justify-content: center;
      align-items: center; }
      body footer .contactDetails div img {
        width: 15px;
        height: 15px; }
      body footer .contactDetails div .email {
        text-decoration: underline;
        color: white; }
    body footer .ownerInfo, body footer .companyDetails, body footer .contactDetails {
      padding-bottom: 1.5%; }
      body footer .ownerInfo p, body footer .companyDetails p, body footer .contactDetails p {
        margin: 10px; }
    body footer img {
      width: 120px;
      height: 50px; }

@media only screen and (min-width: 1000px) {
  .contactForm .formIntro p {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px; } }
@media only screen and (max-width: 1000px) {
  body .contactForm form {
    margin: 0; }
    body .contactForm form .row {
      flex-direction: column;
      align-items: center; }
      body .contactForm form .row .leftFormCol {
        width: auto; }
      body .contactForm form .row .rightFormCol {
        width: auto; }
        body .contactForm form .row .rightFormCol input[type=text] {
          width: 250px; }
        body .contactForm form .row .rightFormCol textarea {
          width: 250px; }
      body .contactForm form .row input[type=submit] {
        margin: 0%; } }
@media only screen and (max-width: 768px) {
  body .navbar .hamburger {
    display: block; }
  body .navbar ul {
    display: none; }
  body .navbar .mobile {
    display: block; }
  body .aboutUs .companyDescription {
    width: 90%;
    text-align: justify;
    font-size: 1rem; }
  body .products {
    display: flex;
    align-items: center;
    flex-direction: column; }
    body .products .galleryWrapper.active {
      flex-direction: column; }
      body .products .galleryWrapper.active .container {
        margin: 0; }
    body .products .styled-select {
      margin-bottom: 5%; } }
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body header .titleContainer div h1 {
    font-size: 3.1rem; }
  body header .titleContainer div p {
    font-size: 2rem; } }
@media only screen and (max-width: 768px) and (min-width: 421) and (orientation: landscape) {
  body header .titleContainer div {
    padding-top: 10%; }
    body header .titleContainer div h1 {
      font-size: 3rem; }
    body header .titleContainer div p {
      font-size: 1.5rem; } }
@media only screen and (max-width: 420px) {
  body header {
    height: 70vh; }
    body header .titleContainer div h1 {
      font-size: 3rem; }
    body header .titleContainer div p {
      font-size: 1.5rem; }
  body .aboutUs h3 {
    padding-top: 28%; }
  body .contactForm .formIntro::after {
    top: 200px; } }

/*# sourceMappingURL=style.css.map */
