@font-face {
    font-family: 'Avenir Roman';
    src:url('newRegosteel/fonts/avenir-roman.ttf');
}
body {
    margin: 0;
    font-family: 'Avenir Roman';
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        padding-top: 20px;
        transition: all 0.2s;
        height: 100px;
        position: absolute;
        z-index: 1;
        width: 100%;
            img {
                width: auto;
                height: 30px;
            }            
            ul {
                display: flex;
                list-style-type: none;
                    li {
                        padding: 40px;
                        font-size: 1rem;
                        transition: padding 0.2s;
                            a {
                                text-decoration: none;
                                color: white;
                                    &:hover {
                                        border-bottom: 2px solid orangered;
                                    }
                            }
                    }
            }
    }
    .sticky {
        position: fixed;
        background-color: black;
        width: 100%;
        padding: 0;
        z-index: 1;
        opacity: 0.9;
        height: 80px;
            ul li {
                padding: 30px;
                transition: padding 0.2s;
            }
    }
        header {
            display: flex;
            align-items: center;
            background-image: url("/img/header-background.png");
            height: 90vh;
            position: relative;
            justify-content: center;
                .titleContainer {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    height: 55vh;
                        div {
                            align-self: center;
                            color: white;
                            font-size: 2rem;
                                h1,p {
                                    padding: 0;
                                    margin: 0;
                                }
                                h1 {
                                    font-size: 5rem;
                                }
                                p {
                                    font-size: 3rem;
                                }
                        }
                }
                .scrollArrowBox {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: -35px;
                    width: 70px;
                    height: 70px;
                    background-color: orangered;
                    border-radius: 50%;
                    -webkit-box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.56); 
                    box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.56);
                        img {
                            width: 20px;
                            height: 10px;
                        }
                } 
        }
        .aboutUs {
            text-align: center;
                h3 {
                    padding-top:5%;
                }
                .detailContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-bottom: 5%;
                        .detailBox {
                            position: relative;
                            width: 300px;
                            margin: 50px;
                            color: #757575;
                                h4 {
                                    padding-bottom: 40px;
                                        &::after {
                                        content: '';
                                        position: absolute;
                                        width: 20px;
                                        border-bottom: 2px solid orangered;
                                        top: 70px;
                                        right: 47%;
                                        }
                                }   
                        }
                }
        }
        .products {
            background-color: red;
                h3 {
                    color: black;
                    margin:0;
                }
                .galleryContainer {
                    display: flex;
                        .column {
                            
                        }
                }
        }
        .ourAdvantages {
            background-color:orangered;
            text-align: center;
            color: white;
            padding: 7%;
                .advantageBoxContainer{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                        .advantageBox {
                            padding: 50px;
                        }
                            img {
                                width: 80px;
                                height: 80px;
                                margin-bottom: 50px;
                            }
                }
        }
        .contactForm {
            text-align: center;
            padding: 7%;
                .formIntro {
                    padding-bottom: 60px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        border-bottom: 2px solid orangered;
                        top: 90px;
                        right: 50%;
                        }
                }
                    form {
                        margin-left: -15%;
                        .row {
                            display: flex;
                            justify-content: center;
                            padding:12px;
                                .leftFormCol {
                                    width: 12%;
                                    padding: 15px;
                                }
                                .rightFormCol {
                                    width: 30%;
                                        input[type=text], textarea{
                                            width: 100%;
                                            border: 1px solid #ccc;
                                            padding: 15px;
                                            resize: vertical;
                                        }
                                }
                                input[type=submit] {
                                    margin-left: 14%;
                                    width: 7%;
                                    background-color: orangeRed;
                                    color: white;
                                    padding: 12px 20px;
                                    border: none;
                                    border-radius: 0px;
                                    cursor: pointer;
                                    float: right;
                                }
                        }
                    }
        }
        footer {
            color: white;
            background-color:rgb(24, 22, 22) ; //Dopisac
            text-align: center;
            padding: 7%;
            background-image: url("/img/footer-tlo3.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
               h3 {
                    padding-bottom: 4%;
                    position: relative;
                        &::after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        border-bottom: 2px solid orangered;
                        top: 53px;
                        right: 49%;
                    }
                }
                .ownerInfo , .companyDetails , .contactDetails {
                    padding-bottom: 1.5%;
                    & p {
                        margin: 10px;
                    }
                }
                img {
                    width: 120px;
                    height:50px;
                }
                
        }   
}
